@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik/static/Rubik-Light.ttf) format('truetype');
}

@font-face {
    font-family: "Rubik-bold";
    src: url(../fonts/Rubik/static/Rubik-Bold.ttf) format('truetype');
}

* {
    margin-left: 6px;
    scroll-behavior: smooth;
    background-color: #081b29;
    color: white;
    font-family: Rubik-Bold, sans-serif;

}

h1 {
    font-size: 70px;
    margin: 10px;
    font-family: Rubik-bold, sans-serif;
    text-align: center;
    color: #00abf0;
}

h3 {
    font-size: 24px;
    color: #00abf0;
}

img {
    height: 80%;
    width: 100%;
}

ol,
ul {
    line-height: 1.6;
}

li,
p {
    font-size: 18px;
}

p {
    line-height: 20px;
}